In [1]:
import pandas as pd


df_sales = pd.read_parquet('./datasets/sales_order_header.parquet')

df_customer = pd.read_parquet('./datasets/customer.parquet')

In [2]:
df_sales.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,...,BillToAddressID,ShipMethod,CreditCardApprovalCode,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,71774,2,2008-06-01,2008-06-13,2008-06-08,5,False,SO71774,PO348186287,10-4020-000609,...,1092,CARGO TRANSPORT 5,None,880.3484,70.4279,22.0087,972.7850,None,89E42CDC-8506-48A2-B89B-EB3E64E3554E,2008-06-08
1,71776,2,2008-06-01,2008-06-13,2008-06-08,5,False,SO71776,PO19952192051,10-4020-000106,...,640,CARGO TRANSPORT 5,None,78.8100,6.3048,1.9703,87.0851,None,8A3448C5-E677-4158-A29B-DD33069BE0B0,2008-06-08
2,71780,2,2008-06-01,2008-06-13,2008-06-08,5,False,SO71780,PO19604173239,10-4020-000340,...,653,CARGO TRANSPORT 5,None,38418.6895,3073.4952,960.4672,42452.6519,None,A47665D2-7AC9-4CF3-8A8B-2A3883554284,2008-06-08
3,71782,2,2008-06-01,2008-06-13,2008-06-08,5,False,SO71782,PO19372114749,10-4020-000582,...,1086,CARGO TRANSPORT 5,None,39785.3304,3182.8264,994.6333,43962.7901,None,F1BE45A5-5C57-4A50-93C6-5F8BE44CB7CB,2008-06-08
4,71783,2,2008-06-01,2008-06-13,2008-06-08,5,False,SO71783,PO19343113609,10-4020-000024,...,992,CARGO TRANSPORT 5,None,83858.4261,6708.6741,2096.4607,92663.5609,None,7DB2329E-6446-42A8-8915-9C8370B68ED8,2008-06-08